<h1>New Post</h1>

 <img style="width:250px; height:100px; margin:auto; display:flex" src={Routes.static_path(@conn, "/images/blog_1.png")} alt="blog_image"/>

<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
